@model IEnumerable<TirelireWebApp.Models.Panier.PanierItem>

@{
    var tirelires = ViewBag.Tirelire as List<TirelireWebApp.Models.Tirelire>;
}

<h2>Panier</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nom du Produit</th>
            <th>Quantité</th>
            <th>Prix</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Quantite</td>
                <td>@item.Frais</td>
                <td>@Model</td>
                <td>@ViewBag.allData</td>
                
                <td>
                    @if (tirelires != null && tirelires.Any())
                    {
                        @foreach (var tirelire in tirelires)
                        {
                            <div>
                                <h3>@tirelire.Couleur</h3>
                                <h3>@tirelire.NameTirelire</h3>
                            </div>
                        }
                    }
                    else
                    {
                        <p>Aucune tirelire trouvée.</p>
                    }
                </td>


                @* @foreach (var im in ViewBag.TirelireData)
                {
                    <td> @im </td>

                } *@
                
               
                
                @* <td>@item.t.NameTirelire</td>
                <td>@item.t.PriceTirelire</td>
                <td>@item.t.ImageUrlTirelire</td>
                <td>@item.t.Couleur</td>
                <td>@item.t.DescriptionTirelire</td> *@


                
               
            </tr>
        }
    </tbody>
</table>


